# allure-report/
# Browser/
# BrowserDriver/
node_modules
Reports
chrome
1oct2024_localversionedProject_1.zip
1oct2024_localversionedProject_1/.gitignore
1oct2024_localversionedProject_1/Jenkinsfile.groovy
1oct2024_localversionedProject_1/package-lock.json
1oct2024_localversionedProject_1/package.json
1oct2024_localversionedProject_1/wdio.conf.js
1oct2024_localversionedProject_1/features/.DS_Store
1oct2024_localversionedProject_1/features/ETE_143_Digital2024.feature
1oct2024_localversionedProject_1/features/ETE2_SubscriptionAcquisitionMyAccount.feature
1oct2024_localversionedProject_1/features/ETE3_SubscriptionAcquisitionDigitalPlus.feature
1oct2024_localversionedProject_1/features/ETE4_SubscriptionAcquisitionOnlineCancellation.feature
1oct2024_localversionedProject_1/features/ETE5_SubscriptionAcquisitionBonus.feature
1oct2024_localversionedProject_1/features/ETE7_SubscriptionAcquisitionPuzzles.feature
1oct2024_localversionedProject_1/features/ETE8_SubscriptionAcquisitionGifts.feature
1oct2024_localversionedProject_1/features/ETE9_SubscriptionAcquisitionWine.feature
1oct2024_localversionedProject_1/features/ETE10_SubscriptionAcquisitionDigital.feature
1oct2024_localversionedProject_1/features/ETE11_AccountcreationRegisterflow.feature
1oct2024_localversionedProject_1/features/ETE12_Backdated.feature
1oct2024_localversionedProject_1/features/ETE20_PuzzlesOneClickOnboarding.feature
1oct2024_localversionedProject_1/features/ETE21_AddPuzzlesfromMyAccount.feature
1oct2024_localversionedProject_1/features/ETE22_AddPuzzlesAsBolton.feature
1oct2024_localversionedProject_1/features/ETE23_AddDigitalAsBoltonToPuzzles.feature
1oct2024_localversionedProject_1/features/ETE67_7DayPrintAcquisition.feature
1oct2024_localversionedProject_1/features/ETE68_2DayPrintAcquisition.feature
1oct2024_localversionedProject_1/features/ETE69_7DayPrintRenewal.feature
1oct2024_localversionedProject_1/features/ETE70_2DayPrintRenewal.feature
1oct2024_localversionedProject_1/features/ETE127_Digital_DowngradeOffer.feature
1oct2024_localversionedProject_1/features/ETE128_Digital_DownsellOffer.feature
1oct2024_localversionedProject_1/features/ETE129_Digital_Restart.feature
1oct2024_localversionedProject_1/features/ETE130_DigitalPlus_Downgrade.feature
1oct2024_localversionedProject_1/features/ETE131_DigitalPlus_Downsell.feature
1oct2024_localversionedProject_1/features/ETE132_DigitalPlus_Restart.feature
1oct2024_localversionedProject_1/features/ETE133_Puzzles_DowngradeOffer.feature
1oct2024_localversionedProject_1/features/ETE134_Puzzles_DownsellOffer.feature
1oct2024_localversionedProject_1/features/ETE135_MyAccount.feature
1oct2024_localversionedProject_1/features/Test.feature
1oct2024_localversionedProject_1/features/pageobjects/login.page.js
1oct2024_localversionedProject_1/features/pageobjects/page.js
1oct2024_localversionedProject_1/features/pageobjects/paymentgateway.js
1oct2024_localversionedProject_1/features/pageobjects/secure.page.js
1oct2024_localversionedProject_1/features/pageobjects/subscription.js
1oct2024_localversionedProject_1/features/step-definitions/AcquisitionMyAccount.js
1oct2024_localversionedProject_1/features/step-definitions/backdatedSteps.js
1oct2024_localversionedProject_1/features/step-definitions/BonusSteps.js
1oct2024_localversionedProject_1/features/step-definitions/CancellationSteps.js
1oct2024_localversionedProject_1/features/step-definitions/downgradedownsellSteps.js
1oct2024_localversionedProject_1/features/step-definitions/hooks.js
1oct2024_localversionedProject_1/features/step-definitions/PrintSteps.js
1oct2024_localversionedProject_1/features/step-definitions/PuzzlesSteps.js
1oct2024_localversionedProject_1/features/step-definitions/steps.js
1oct2024_localversionedProject_1/features/step-definitions/SubscriptionsSteps.js
1oct2024_localversionedProject_1/features/step-definitions/TestSteps.js
1oct2024_localversionedProject_1/features/step-definitions/WineCellerSteps.js
